@import "tailwindcss";

@theme {
  /* Assignem la variable de Next.js a la família 'sans' o creem una de nova */
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;

  /* Si vols mantenir Montserrat com una opció específica: */
  --font-montserrat: var(--font-montserrat);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
